<widget id="com.ritzkey.ritzkey" version="0.0.1">

<name>RitzKey Social</name>

<description>
Make plans with your friends.
</description>
  
<!-- whitelist domains -->
<access origin="http://ritzkey.com" />

<!-- icons -->
<icon src="pics/favicon.png" />
<splash src="splash.png" />
<platform name="ios">
<splash src="pics/splashscreen.jpg" width="320" height="480"/>
<splash src="pics/splashscreen.jpg" width="640" height="960"/>
</platform>
	   
</widget>