<?xml version="1.0" encoding="UTF-8"?>

<widget id="com.ritzkey.ritzkey" version="0.0.1">

<name>RitzKey Social</name>

<description>
Make plans with your friends.
</description>
  
<!-- whitelist domains -->
<access origin="http://ritzkey.com"/>

<!-- icons -->
<icon src="pics/favicon.png"/>

<preference name="SplashScreen" value="screen"/>
<preference name="SplashScreenDelay" value="10000"/>

<platform name="ios">
	<splash src="pics/splash.png"/>
</platform>

</widget>