@charset "utf-8";
/* CSS Document */

body{
	background-image:url(../../../pics/nice-room.jpg);
	background-size:cover;
}

#form-description{
	max-width:280px;
	line-height:24px;
}
#loader{
	margin:0 0 0 5px;
}
.datePickerField input[type=text]{
	width:100px;
}
